
<div class="wrapper">

    <h4>Sponsered</h4>

    <div class="facebook-sponsers">

        <div class="facebook-sponsers__sponser">
            <img src="/assets/images/project-sponsor.avif" alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Exercitationem in minus quia, ex sit doloremque ipsa aliquam
            </div>
        </div>

        <div class="facebook-sponsers__sponser">
            <img src="/assets/images/sponsere-image-1.png" alt="" class="facebook-sponsers__sponser--image">
            <div class="facebook-sponsers__sponser--text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem in minus quia, ex sit doloremque ipsa aliquam
                Exercitationem in minus quia, ex sit doloremque ipsa aliquam,
                ex sit doloremque ipsa aliquam.
            </div>
        </div>
    </div>

<!-- ---------------------------------------Pages--------------------------------------- -->

    <h4 class="seperator">Your Pages</h4>

    <div class="facebook-pages">

        <div class="facebook-pages__page">
            <img src="/assets/images/Illustrator.jpg"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
                Adobe illustrator 
            </div>
        </div>

        <div class="facebook-pages__page">
            <img src="/assets/images/Photoshop.jpg"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
               Photoshop
            </div>
        </div>

        <div class="facebook-pages__page">
            <img src="/assets/images/indesign.jpg"  alt="" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">
               Indesign
            </div>
        </div>
    </div>

    <!-- ---------------------------------------Contact--------------------------------------- -->

    <h4 class="seperator">Contacts</h4>

    <div class="facebook-contacts">

        <div class="facebook-contacts__contact">
            <img src="/assets/images/person-1.jpg"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
              John Wick
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="/assets/images/person-2.jpg"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                William Smith
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="/assets/images/person-3.jpg"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Marry Hamm
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/25/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
              Murad Memet
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/24/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Hasan Daghoz
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/23/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Sohail Subhy
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/22/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
              Anmar Muhsin
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/21/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Hinry Koman
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/20/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Shamos Ornka
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/1/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Soyu sam
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/25/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
              Murad Memet
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/24/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Hasan Daghoz
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/23/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Sohail Subhy
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/22/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
              Anmar Muhsin
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/21/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Hinry Koman
            </div>
        </div>

        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/20/64/64"  alt="" class="facebook-contacts__contact--image">
            <div class="facebook-contacts__contact--text">
                Shamos Ornka
            </div>
        </div>
    </div>

</div>