
<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcuts__shortcut--text">Friends</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Groups</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Watch</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts__shortcut--text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcuts__shortcut--text">Memories</span>
        </li>
    </ul>


    <h4 class="seperator">Yout Shortcuts</h4>
    
    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="/assets/images/image-shortcut-1.jpg" alt="">
            </div>
            <span class="favorite-text">First Designer</span>
        </li>

        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="/assets/images/image-shortcut-2.avif" alt="">
            </div>
            <span class="favorite-text">First Developer</span>
        </li>

        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="/assets/images/image-shortcut-3.avif" alt="">
            </div>
        </li>

    </ul>
    <span class="favorite-text">O.I All Right Reserved</span>

</div>