
<div class="wrapper">
    <div class="stories">
        <div class="story story-1">
            <img src="https://picsum.photos/id/74/100/180" alt="user-image">
            <div class="story__username">Nomy Nony</div>
        </div>
        <div class="story story-2">
            <img src="https://picsum.photos/id/65/100/180" alt="user-image">
            <div class="story__username">Simon TH</div>
        </div>
        <div class="story story-3">
            <img src="https://picsum.photos/id/56/100/180" alt="user-image">
            <div class="story__username">Karlos Gustav</div>
        </div>
        <div class="story story-4">
            <img src="https://picsum.photos/id/91/100/180" alt="user-image">
            <div class="story__username">Tony Nils</div>
        </div>
        <div class="story story-5">
            <img src="https://picsum.photos/id/75/100/180" alt="user-image">
            <div class="story__username">Eva Schmidt</div>
        </div>
        <div class="story story-6">
            <img src="https://picsum.photos/id/85/100/180" alt="user-image">
            <div class="story__username">Mueller Can</div>
        </div>
    </div>


    <div class="create-post">
        <div class="input-box__text">
            <img src="/assets/images/omar.jpg" alt="" class="create-post__image">

            <label for="create-post">
            <input type="text"  id="create-post" placeholder="What's on your mind Omar ?">
            </label>
        </div>


        <div class="create-post__buttons">
            <div class="create-post__buttons__button">
                <i class="blue ri-video-add-fill"></i>
                <span>Live Video</span>
            </div>
      
   
            <div class="create-post__buttons__button">
                <i class="yellow ri-image-line"></i>
                <span>Photo/Video</span>
            </div>

   
            <div class="create-post__buttons__button">
                <i class="red ri-emotion-happy-line"></i>
                <span>Feeling/activity</span>
            </div>


    </div>
    </div>


    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>

        <div class="create-room__images">
            <img src="https://picsum.photos/id/1/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/2/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/3/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/4/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/5/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/6/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/7/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/8/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/9/100/180" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/10/100/180" alt="" class="create-room__image">           
            
        </div>
    </div>

    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">2d ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                19 Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">3d ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post-2.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                32 Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">5d ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post-3.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                59 Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">7d ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post-4.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                1k Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">2d ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post-5.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                19 Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/omar.jpg" alt="" class="create-room__image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Omar Ibrahim</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy">
                        <i class="ri-earth-line"></i>
                        <div class="date">2w ago</div>
                    </span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolore provident
                 alias quia, eum quas rem veniam doloribus ipsa asperiores maiores repellat, dicta 
                 nobis omnis. Modi voluptas officia nisi alias.
            </p>
            <img class="news-feed__feed__image" src="/assets/images/post-6.jpg" alt="post" width="100%" >

        </section>

        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                88 Comments
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/omar.jpg" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as Omar?">
                </label>
            </div>
        </div>
    </div>
    

</div>